<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.board.mapper.user.UserMapper" >
    <insert id="addUser" parameterType="com.board.DTO.UserDTO">
        INSERT INTO userT (email, password, created_time)
        VALUES(#{email}, #{password}, #{createdTime})
    </insert>
    <select id="getUser" parameterType="com.board.DTO.UserDTO" resultType="com.board.DTO.UserDTO">
        SELECT user_id, email, password FROM userT WHERE email = #{email};
    </select>
</mapper>